* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

body {
    background-color: rgb(242, 241, 234);
}

.modal p {
    font-size: 17px;
}

.modal {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 1.5em;
    font-family: "Mona Sans", sans-serif;
}

.modal h1 {
    font-size: 32px;
    font-weight: normal;
    padding-bottom: .5em;
}

.modal form {
    padding: 2.5em 0;
}

.modal form .label {
    font-size: 13px;
}

.modal form .label-bottom {
    margin-top: .5em;
}

.modal form input {
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
}

.modal form div {
    margin-bottom: 1em;
}

.modal form input::placeholder {
    color: rgb(161, 161, 161);
}

.modal form button {
    background-color: #5aeda3;
    color: black;
    display: block;
    padding: 1em;
    width: 100%;
    border: 0;
    border-radius: 100px;
    font-weight: bold;
    margin-top: 3em;
}

.modal .modal-footer {
    border-top: 1px solid rgb(229, 229, 229);
    padding-top: 2.5em;
    padding-bottom: 1em;
}