name: Deploy Site

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

concurrency:
  group: 'fast-auth-signer-deployment'
  cancel-in-progress: true

jobs:
  deploy-testnet:
    uses: ./.github/workflows/bundle-and-deploy.yml
    with:
      environment: testnet
    secrets: inherit

  deploy-staging:
    uses: ./.github/workflows/bundle-and-deploy.yml
    with:
      environment: staging
    secrets: inherit

  deploy-mainnet:
    uses: ./.github/workflows/bundle-and-deploy.yml
    with:
      environment: mainnet
    secrets: inherit

  deploy-docker-image-to-artifact-registry:
    uses: ./.github/workflows/push-to-artifact-registry.yml
    secrets: inherit